
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image:linear-gradient(268deg,rgb(1, 80, 132),rgb(0, 134, 108));
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
   
}
footer{
    text-align: center;
}
.main_nav{
    display: flex;
    margin: 10px;
    margin-left: 33px;
    padding:15px;
    background-image: linear-gradient(2deg,rgba(0, 97, 117,.3),rgba(0, 110, 68,.4));
   
    border-radius: 8px;
}

.main_nav ul{
    display:flex;
    justify-content: left;
    align-items: center;
    list-style: none;
    width: 80%;
}

.main_nav li ,a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.main_nav a{
       text-shadow: black 3px 4px 13px;
}

.main_nav input[type="text"]::-webkit-input-placeholder{
    color:black;
}
.main_nav li a{
    color: rgb(255, 255, 255);
    padding: 5px;
}

.main_nav li{

    margin: 7px 44px;
    border-radius: 5px;
    padding: 8px;
    padding-left: 10px;
    
}
.main_nav li:hover{
    box-shadow: 2px 3px 7px 0 aquamarine;
}

.search{
    display:flex;
    justify-content: right;
    align-items: center;

}

#search{
    padding: 3px;
    font-size: 20px;
    background-color: transparent;
    color: black;
    background:linear-gradient(0deg,rgb(125, 121, 121),rgb(154, 154, 154))padding-box,linear-gradient(88deg,rgb(0, 120, 98),rgb(0, 78, 114),rgb(65, 0, 85))border-box;
    border-color: transparent;
    border-width: 3px;
    border-radius: 99px ;
}

#search::-webkit-input-placeholder{
    color:rgba(0, 0, 0, 0.466)
}
 .logo img{
    width: 30px;
 }
 .logo a{
    margin:21px;
 }
 .logo{
    margin-top: 30px;
 }

 .porduct_list{
    display: flex;
    flex-direction: column;
    margin-top: 52px;
 }
.porduct_list div div img{
    display:block;
    width: 400px;
    height: 200px;
    box-shadow: 9px 7px 17px 0 rgb(3, 53, 57) ;
    border-radius: 8px;
    transition:transform 1.4s;
}
.porduct_list div div:hover img{
    transform: scale(1.1);
}
.porduct_list div div{
    margin: auto;
}
.rows{
    padding: 3px;
    margin-bottom: 9px;
    display: flex;
}
.items{
    align-items: center;
    margin:8px 14px 8px 14px;
    width: 400px;
    height: 350px;
}
.porduct_list h3{
    margin-top:33px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center;
    font-style:oblique;
    text-decoration: underline;
    
}
.login-main-container{
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 900px;
    height: 500px;
    background-image: linear-gradient(to right,rgb(3, 167, 82),rgb(2, 143, 168));
    box-shadow: 4px 8px 16px 0 rgb(7, 7, 7);
    font-family:'Times New Roman', Times, serif;
}
.login-sub-container{
    background-color: rgb(8, 8, 8);
    height: 460px;
    width: 450px;
    text-align: center;
    margin-top:60px;
    color: white;
    box-shadow: 2px 3px 33px 0 black;

}
.input-username{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 4px;
    margin-left:auto;
    margin-right: auto;
}
.login-container input {
    margin-top: 24px;
    background: linear-gradient(0deg,rgb(152, 151, 151),rgb(105, 103, 103))padding-box,linear-gradient(90deg,rgb(20, 129, 133),rgb(0, 172, 103)),border-box;
    border-width:3px;
    border-color: transparent;
    border-radius: 38px;
    padding: 8px;
    transition: 1.3s;
}
.login-container input[type="text"]::-webkit-input-placeholder{
    color:rgba(0, 0, 0, 0.425);
}
.login-container input:hover{
    box-shadow: 1px 1px 20px 0 rgb(0, 123, 189);
    transform: scale(1.02);
    
} 
.login-container input[type="password"]::-webkit-input-placeholder{
    color:rgba(0, 0, 0, 0.457);
}
.login-container h3{
    margin-top:32px;
    margin-bottom: 18px;
}
.btn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
   
.login-btn{
    padding:10px 44px 10px 44px ;
    font-size: large;
    background: linear-gradient(66deg,rgb(139, 139, 139),rgb(116, 116, 116),rgb(116, 116, 116))padding-box,linear-gradient(aqua,green,blue)border-box;
    border-width: 2px;
    border-color:transparent;
    border-radius: 44px;
    transition-duration: 1.3s;
}
.btn:hover .login-btn{
     box-shadow: 2px 4px 44px 0 rgb(0, 219, 223);
     transform: scale(1.1);
}

.contact-cotainer{
    background-image: linear-gradient(45deg,rgb(91, 42, 88),rgb(3, 89, 89));
    box-shadow: 8px 13px 22px 0 black;
    margin: auto;
    margin-top: 80px;
    display:flex;
    width: 900px;
    height: 600px;
    justify-content: center;
    align-items: center;
}


.contact-form{
    display: flex;
    flex-direction: column;
}
.fgroup{
    display:flex;
    margin:15px;
}

.fgroup input{
    width: 320px;
    padding: 7px;
    font-size: 17px;  
    
}
form label{
    font-size: 22px;
}
.fgroup input,textarea{
    width: 380px;
    margin-left: 30px;
    background:linear-gradient(0deg,grey,rgb(173, 172, 172),grey)padding-box,linear-gradient(rgb(95, 0, 100),rgb(54, 99, 0),rgb(0, 98, 116))border-box ;
    border-color: transparent;
    border-radius: 33px;  
}
.fgroup input::-webkit-input-placeholder{
    color:rgba(0, 0, 0, 0.518);
}

.fgroup textarea{
    margin-left: 16px;
    width: 365px;
    border-radius:4px;
}
.fgroup textarea::-webkit-input-placeholder{
    font-size: 18px;
    color:rgba(0, 0, 0, 0.692);
}
.contact-header{
    font-size: 60px;
    margin: auto;
    margin-left: 109px;
    margin-top: 12px;
}
.contact-header h3{
    font-weight: lighter;
    font-style: italic;
}
#reset,#submit{
   width:100px; 
   height: 30px;
   margin: 0 8px;
   margin-left: 0px;
   background:linear-gradient(0deg,grey,rgb(173, 172, 172),grey)padding-box,linear-gradient(rgb(95, 0, 100),rgb(54, 99, 0),rgb(0, 98, 116))border-box ;
    border-color: transparent;
    border-width: 3px;
    border-radius: 32px;
    transition: 1.3s;
  
}
.contact-btn{
    margin-left: 111px;
}

#name-error{
    margin:0 auto;
    color:red;
}
.contact-btn button:hover{
    box-shadow: 1px 1px 20px 0 rgb(0, 123, 189);
    transform: scale(1.02);
}
.contact-btn input:hover {
    box-shadow: 1px 1px 20px 0 rgb(0, 123, 189);
    transform: scale(1.02);
}
.cart-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width:80vw;
    height: 83vh;
    margin:auto;
    background-image: linear-gradient(225deg,rgba(21, 60, 57, 0.297),rgba(9, 37, 49, 0.32));
    box-shadow: 15px 17px 20px 0 black;
    border-radius: 9px;
}
.cart-group img{
    height: 70px;
    width: 100px;
    border-radius: 6px;

}
.cart-group{
    margin-left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-group,.name-group,.qty-group,.price-group{
    display: flex;
    width:200px;
    height: 80px;
    justify-content: center;
    align-items: center;


    
}
.payment-group{
    width: 400px;
    height: 150px;
    display: flex;
    margin-top: 47px;
    margin-left: 1092px;
}
.payment-group input{
    width: 66px;
    height: 27px;
    background:linear-gradient(0deg,rgb(157, 157, 157),rgb(180, 178, 178),rgb(118, 121, 121))padding-box,linear-gradient(0deg,green,aqua)border-box;
    border-color: transparent;
    border-width: 2px;
    border-radius: 9px;
    margin-top: 62px;
    margin-left: -115px;
}
.home-main-container{
    display:flex;
    flex-direction: column;
    margin:auto;
    margin-top:100px;
    align-items: center;
    height: 50vh;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.215);
    border:2px solid rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: inset 4px 4px 40px 0 rgba(0, 0, 0, 0.756);

}
.home-main-container h3{
    margin-top: 22px;
    text-shadow: 2px 4px 6px black ;
    text-decoration: underline;
    
}
.home-main-container{
     color:rgba(255, 255, 255, 0.783);

}
.footer{
    margin-top:150px;
}
.home-main-container p{
    width: 700px;
    text-align: center;
    margin-top: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

.product-details img{
    height: 460px;
    width: 800px;
    border-radius: 10px;
}
ol{
    margin-left: 30px;
}
.first-details{
    display: flex;
}
table td{
    padding-left: 8px;
}
.first-details h2{
     margin:22px 0;
     font-size: medium;
}
.main-product-details{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}
.product-details{
    margin:auto;
    width: 95vw;
    margin-top:35px;
    /* background-color: rgba(0, 0, 0, 0.258);
    border:2px solid rgb(0, 0, 0);
    border-radius: 8px; */

    /* box-shadow: inset 2px 2px 20px 0 black; */
}
.video ,video{
    height: 300px;
    width: 400px;

}
.video{
    border:2px solid black;
}
.specs{
    margin-left: 22px;
    
}
table{
    margin-top:22px;
}
.description{
     font-weight: bold;
}
.cart-btn{
    width: 90px;
    height: 25px;
    font-weight: bold;
    background: linear-gradient(0deg,rgb(170, 170, 170),rgb(186, 186, 186))padding-box,linear-gradient(160deg,green,rgb(0, 115, 144))border-box;
    border-color: transparent;
    border-width: 2px;
    border-radius: 5px;
    margin:20px;
}
.paragraph{
    font-family: serif;
    font-size:18px;
    color: rgb(159, 159, 159);
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.274);
}
.payment-png img,.payment-png{
    width:140px;
    height: 30px;
}
.payment-group a{
    margin-left: -98px;
    margin-top: 91px;

}
.payment-group{
    margin-top:5px;
}
sup{
    color:red;
    font-weight: 150;
    text-shadow: 2px 3px 2px black;
}
sub{
    color:rgb(0, 134, 7);
}